<div class="row">
    {{#each this.games}}
    <div class="col-md-3 col-sm-6 game-box text-center">
        <div class="thumbnail">
            <img src="{{this.image}}" alt="">
            <div class="caption">
                <h3>{{this.title}}</h3>
                <p class="item-platform"><a href="#/platform/{{this.platform}}&1&0">{{this.platform}}</a></p>
                <p class="item-price">
                    ${{this.price}}
                </p>
                <p>
                    <a href="#/game-details/{{this.title}}" class="btn btn-default">Details</a>
                </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div style="clear: both;"></div>
{{#each this.indeces}}
<div class="btn-group btn-page-div">
    <a href="#/home/{{this}}" class="btn btn-default btn-page">{{this}}</a>
</div>
{{/each}}